<div class="principal">
    <h1>Pagina principal</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat fuga quibusdam voluptatem ex minima. Non, sequi,
        quod vel facilis quam et blanditiis cum repellendus fugit culpa recusandae beatae dolores accusamus.</p>
    <div class="paginas">
        <p>Paginas:</p>
        <ol>
            <a href=" <%- calcPage %> "><li>Calculadora: <i>/calculadora</i></li></a>
            <a href=" <%- jason %> "><li>Resposta em Json: <i>/jason</i></li></a>
            <a href=" <%- imc %> "><li>IMC (tentativa): <i>/imc</i></li></a>
        </ol>
    </div>
</div>