<div class="cent">
    <p>A resposta é:</p>
    <span class="soma">
        <%- resp; %>
    </span>
    <br />
    <button class="voltar" onclick="location.href='<%- pagina; %>'">Voltar</button>
</div>